<FilesMatch "\.gz$">
    Header set Content-Encoding gzip
    Header append Vary Accept-Encoding
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.html [L,QSA]
